<%= link_to '<i class="fa fa-users"></i> Overzicht gebruikers'.html_safe, admins_index_path, :class => "btn btn-normal"%>
<a class="btn btn-blue" href="#about"><i class="fa fa-music"></i> Overzicht mixtapes</a>
<%= link_to '<i class="fa fa-cog"></i> Instellingen'.html_safe, admins_settings_path, :class => "btn btn-normal"%>