<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="brand" href="#"><%= image_tag("logo_blue.png", :alt => "Beatfuel") %></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav-pills nav navbar pull-right">
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li>
          <%= link_to "Overzicht artiesten", users_path %>
        </li>
        <li>
          <% if current_user %>
            <a id="fblogin" title="Login" href="/signout">Uitloggen</a>
          <% else %>
              <a id="fblogin" title="Login" href="/auth/facebook">Inloggen</a>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>