<% content_for :title do %>
    Maak connecties &amp; ontdek je kansen - Beatfuel.be
<% end %>
<% content_for :header do %>
    <h1>Maak Connecties & ontdek je kansen</h1>
    <h2>Bereik meer<em> fans</em>, krijg meer<em> draaitijd</em> &amp; geniet van je succes!</h2>
    <a class="btn btn-normal" href="#about">ONTDEK MEER</a>
    <a class="btn btn-blue" href="#register">REGISTREER NU</a>
<% end %>

<!-- Intro -->
<div id="about" class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h1>Ontdek meer over Beatfuel</h1>
        <h3 class="eyecatch">Startup-DJ helpen, dat is onze bedoeling...</h3>
        <hr/>
      </div>
      <div class="col-lg-6 col-md-6">
        <h3>
          <i class="fa fa-music"></i>
          Upload uw Beatfuel Mixtapes
        </h3>
        <p>
          Beatfuel laat toe om uw eigen mixtapes up te loaden zodat deze beschikbaar worden voor het grote publiek. Op deze manier kunnen anderen uw mixtape beoordelen en word u waarschijnlijk sneller aangesproken...
        </p>
      </div>


      <div class="col-lg-6 col-md-6">
        <h3>
          <i class="fa fa-comments"></i>
          Beoordeel mixtapes van anderen
        </h3>
        <p>
          Bespreek welke delen je goed vind uit een bepaalde mixtape van 1 van uw collega's. Vind u zijn mixtape een nieuwe wereldhit? Twijfel dan niet om hem een stem te geven zodat hij bovenaan de ranglijsten prijkt!
        </p>
      </div>

      <div class="col-lg-6 col-md-6">
        <h3>
          <i class="fa fa-thumbs-up"></i>
          Like het werk van uw collega's
        </h3>
        <p>
          Het is ook mogelijk mixtapes van anderen te beoordelen. Op basis van het aantal stemmen komt er maandelijks een winnaar uit de bus, benieuwd of jij de volgende word!
        </p>
      </div>

      <div class="col-lg-6 col-md-6">
        <h3>
          <i class="fa fa-compass"></i>
          Deel uw plaats waar je draait
        </h3>
        <p>
          Deel uw locatie waarop je zult draaien die avond zodat uw volgers altijd op de hoogte zijn waar het beste feestje van die dag doorgaat.
        </p>
      </div>


    </div>
  </div>
</div>
<!-- /Intro -->
<!-- Callout -->
<div class="callout">
  <div class="vert-text">
    <h1 class="quote">"Every child is an artist. The challenge is to remain an artist after you grow up..."</h1>
    <h1 class="quote">"Good design is all about making other designers feel like idiots because that idea wasn’t theirs"</h1>
    <h1 class="quote">"No masterpiece was ever created by a lazy artist"</h1>
    <h1 class="quote">"Good design goes to heaven; bad design goes everywhere"</h1>
  </div>
  <div class="col-md-11 text-right">
    <h2 class="author">-Pablo Picasso</h2>
    <h2 class="author">-Frank Chimero</h2>
    <h2 class="author">-Salvador Dali</h2>
    <h2 class="author">-Mieke Gerritzen</h2>
  </div>
</div>
<!-- /Callout -->


<!-- Register -->
<div id="register" class="register">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-12 text-center">
          <h1>Meteen registreren? Het kan!</h1>
          <hr>
        </div>

        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <form role="form" method="post" action="#">
              <input type="hidden" name="recipient" value="#">
              <input type="hidden" name="subject" value="#">
              <input type="hidden" name="redirect" value="#">

              <div class="form-group">
                <label for="email"><i class="fa fa-star"></i> Email:</label>
                <input class="form-control" type="email" name="email" placeholder="info@example.com" required />
                <span class="form_hint">Gelieve een geldig emailadress in te vullen</span>
              </div>

              <div class="form-group">
                <label for="name"><i class="fa fa-user"></i> Naam:</label>
                <input class="form-control" type="text" name="name" placeholder="John Doe" required />
              </div>

              <div class="clearfix"></div>
              <div class="form-group">
                <input class="btn btn-default btn-lg btn-register" TYPE="Submit" formaction="Register_Complete1.html" VALUE="Registreer">
                <input class="btn btn-default btn-lg btn-register" TYPE="Submit" formaction="#" VALUE="Registreer via Facebook">
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- stats -->
<div id="stats" class="stats">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h1>Beatfuel statistieken</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <!--Als je ze smaller tegen elkaar wil gebruik je md2 en zet je ook een col-md-offset-2 voor margin ;)-->
      <div class="col-md-3 text-center">
        <div class="service-item">
          <i class="service-icon fa fa-user"></i>
          <h4>Gebruikers</h4>
          <p class="statsinfo">10242</p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="service-item">
          <i class="service-icon fa fa-globe"></i>
          <h4>Site views</h4>
          <p class="statsinfo">1247885</p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="service-item">
          <i class="service-icon fa fa-headphones"></i>
          <h4>Mixtapes</h4>
          <p class="statsinfo">2548</p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="service-item">
          <i class="service-icon fa fa-check"></i>
          <h4>Boekingen</h4>
          <p class="statsinfo">6584</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /stats -->