@charset "utf-8";
/* CSS Document */
span.cursive {
    display: inline-block;
    font-family: 'Marck Script',cursive;
    font-size: 68px;
    font-weight: normal;
    text-shadow: 1px 1px 2px #515151;
}
span.title_line {
    border-bottom: 2px solid #FFFFFF;
    display: inline-block;
    height: 2px;
    margin: 0 15px;
    width: 25px;
}
span.small {
    font-size: 40px;
    font-weight: 600;
    text-shadow: 2px 2px 2px #515151;
}
.navbar.navbar-inverse {
    background: rgba(0, 0, 0, 0.6);
}
.nav-pills li {
    text-transform: uppercase;
}

.ul.nav-pills > li > a.active {
    background: #428bca;
    color: #fff;
}

.nav-pills > li > a:hover {
    background: none;
}
nav .brand img { margin-top: 18px;}
nav ul {
    margin-top: 20px;
}
/* Global Styles */

html,
body {
    height: 100%;
    width: 100%;
    font-family:"helvetica"
}
.vert-text {
    text-align: center;
    color:#FFF;
    margin-top:200px;
}
#profile_info{
    height: auto;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 70px;
}
.profile {
    text-align:left;
    color:#FFF;
    margin-top:50px;
}
.profile ul {
    list-style-type:none;
    text-align:center;
    padding-left:0;
    text-align:left;
}
.profile > ul > li {
    font-size:16px;
    line-height:1.8em;
}
.clear{
    clear:both;
}
.vert-text p{
    text-align: center;
    margin-top:60px;
    color:#CCC;
}
.vert-text-left {
    float:left;
    color:#FFF;
    margin-top:150px;
    padding-left:25px;
}
.vert-text-littlemargin {
    text-align: center;
    color:#FFF;
    margin-top:25px;
}
.row h1{
    font-size:42px;
    font-weight:600;
}
.row h3.eyecatch{
    color:#1a9ff9;
}

.row h4.active{
    color:#000033;
}

/*Buttons */
.btn-normal {
    background-color: #F27935;
    border-color: #F27935;
    color: #FFFFFF;
    margin:10px;
    padding: 10px 16px;
    border-radius:0;
}
.btn-normal:hover{
    color: #333333;
}
.btn {
    border-radius:0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.btn-blue{
    background-color: #1a9ff9;
    border-color: #46abf0;
    color: #FFFFFF;
    margin:10px;
    padding: 10px 16px;
}
.btn-blue:hover{
    color: #333333;
}
.btn-blue-dark{
    background-color: #3c5b9b;
    border-color: #003399;
    color: #FFFFFF;
    margin:10px;
    padding: 10px 16px;
    width:150px;
}
.btn-blue-dark:hover{
    color: #333333;
}
.btn-green{
    background-color: #7cc95a;
    border-color: #006600;
    color: #FFFFFF;
    margin:10px;
    padding: 10px 16px;
    width:150px;
}
.btn-green:hover{
    color: #333333;
}
.btn-edit{
    background-color: #333333;
    border-color: #666666;
    color: #FFFFFF;
    margin-top:10px;
    padding: 5px 10px;
    width:auto;
    font-size:16px;
}
.btn-edit:hover{
    color: #FFFFFF;
    background-color: #7cc95a;
    border-color: #006600;
}
.btn-yellow{
    background-color: #ffa800;
    border-color: #FFCC00;
    color: #FFFFFF;
    margin:10px;
    padding: 10px 16px;
    width:150px;
}
.btn-yellow:hover{
    color: #333333;
}
h1 > img {
    display: inline-block;
    margin: 5px;
}
h1.quote{
    text-shadow: 2px 2px 2px #515151;
    font-family: 'Lobster Two', cursive;
    display:none;
    font-size: 32px;
}
h2.author {
    text-shadow: 2px 2px 2px #515151;
    font-family: 'Lobster Two', cursive;
    display: none;
}

/* Side Menu */
#sidebar-wrapper {
    margin-right: -250px;
    right: 0;
    width: 250px;
    background: #000;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}
.sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
}
.sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
#menu-toggle {
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}
#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.toggle {
    margin: 5px 5px 0 0;
}
/* Full Page UserImage Header Area */
header {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    background: url("header_bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header > h1 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 600;
    line-height: 1em;
    text-shadow: 2px 2px 2px #515151;
    margin: 0;
}
header > h2 {
    margin-bottom: 40px;
    text-shadow: 2px 2px 2px #515151;
    font-size: 28px;
}
/* Kleine header */
.small {
    display: table;
    height: auto;
    width: 100%;
    position: relative;
    background: url("header_bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom:80px;
}
/* Intro */
.intro {
    padding: 50px 0;
    background-color:#f8f8f8;
    background-image:url("bg-stripe.jpg");
    background-repeat:repeat;
}
/*  Register*/
.register{
    padding: 50px 0;
    background-image:url("bg-stripe.jpg");
    background-repeat:repeat;
}

.profile_about{
    padding: 50px 0;
    background-image:url("bg-stripe.jpg");
    background-repeat:repeat;
}

.profile_about img{
    padding:10px 10px 0 0;
    width:100px;
    height:100px;
}
img.border{
    border: 5px solid #FFFFFF;
    box-shadow: 0 0 8px #CCCCCC;
}

.profilepage{
    padding:50px 0;
    background-image:url("header_bg.jpg");
    background-size:cover;
}
/* search */
.search {
    background-image:url("bg-stripe.jpg");
    background-repeat:repeat;
    padding: 50px 0;
    color: #333333;
}
.search-item {
    margin-bottom: 15px;
    float:left;
}
.search-item > ul > li > img{
    height:100px;
    width:100px;
    float:left;
    display:inline;
}
.search-item a {
    color:#46ABF0;
    font-weight:800;
}
.search-item img {
    float:left;
}
.search-item ul{
    float:left;
    list-style:none;
    margin-left:-20px;
    margin-top:4px;
}
.search-item li{
    padding-bottom:6px;
    display:block;
    position: relative;
}
.stats {
    background: #46ABF0;
    padding: 50px 0;
    color: #ffffff;
    border-bottom:thick solid #CCCCCC;
}
.stats-item {
    margin-bottom: 15px;
}
i.search-icon {
    display:inline-block;
    font-size:16px;
    color:#333333;
    width:16px;
    height:16px;
    float:left;
    margin-right:8px;
}
i.service-icon {
    border: 3px solid #333333;
    border-radius: 50%;
    background-image:url("bg-stripe.jpg");
    display:inline-block;
    font-size: 56px;
    color:#333333;
    width: 140px;
    height: 140px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
}
i.service-icon-active {
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    background-color:#46ABF0;
    display:inline-block;
    font-size: 56px;
    color:#FFFFFF;
    width: 140px;
    height: 140px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
}
.service-item h4{
    font-size:18px;
    font-weight:800;
}
.service-item p.statsinfo{
    color: #333333;
    font-size: 24px;
    font-weight: 800;
}
/* Callout */
.callout {
    color: #ffffff;
    display: table;
    height: 400px;
    width: 100%;
    background: url("dj.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* Call to Action */
.call-to-action {
    color: #ffffff;
    background: #46ABF0;
    padding: 50px 0;
}
.call-to-action > .btn {
    margin: 10px;
}
/* Footer */
footer {
    height:auto;
    padding-top: 20px;
    background-color:white;
    border-top: thick solid #CCCCCC;
}
.top-scroll {
    margin-top: 50px;
}
.top-scroll > a {
    text-decoration: none;
    color: inherit;
}
i.scroll {
    color: #333333;
}
i.scroll:hover {
    color: #0a5175;
}
/* Responsive */
@media (max-width: 768px) {
    header {
        background: url("header_bg.jpg") no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .callout {
        background: url("dj.jpg") no-repeat center center scroll;
    }
    header h1 {
        color: #FFFFFF;
        font-size:52px;
        font-weight: 800;
        line-height:1em;
        text-shadow: 2px 2px 2px #515151;
        margin:0;
    }
}
@media (max-width: 1024px) and (orientation:landscape){
    header {
        background: url("header_bg.jpg") no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .callout {
        background: url("dj.jpg") no-repeat center center scroll;
    }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    /* Styles */
    .callout {
        background: url("dj.jpg") no-repeat center center scroll;
    }
}
.header-image {
    background: url("header_bg.jpg") repeat scroll center top rgba(0, 0, 0, 0);
    display: block;
    height: auto;
    text-align: center;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.headline {
    padding: 120px 0;
    color:#FFF;
}
.white{
    color:white;
    margin-bottom:50px;
}
.btn-orange{
    color: #FFFFFF;
    background-color: #FF9933;
    border-color: #FF6633;
    float:right;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-default {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
}
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
    background-image: none;
}
img.smallprofile{
    float:left;
    margin-top:-15px;
    padding-left:30px;
    padding-right:10px;
}